.code-bg {
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

h1.hero {
    font-size: 5.0em;
    font-family: 'Special Elite', cursive; /* Like this one! */
    color: white;
    text-align: center;
    margin-top: 0.5em;
}

h2.hero {
    margin-top: -26px;
    font-size: 2.2em;
    font-family: 'Special Elite', cursive;
    color: white;
    text-align: center;
}

h2.project {
    font-size: 2.2em;
    font-family: 'Special Elite', cursive;
    color: white;
    text-align: center;
}

.subtitle {
    font-family: 'Bowlby One SC', cursive;
}

img.profile {
    width: 400px;
}

img.icon {
    width: 20px;
}

img.techlist {
    width: 50px;
}

.techlistfa {
    font-size: 2.3rem;
}

img.projimg {
    width: 400px;
}

/* Resume Styling */

ul.disc {
    list-style: disc;
}

.job {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.employeeBBS {
    background-image: url(../img/employebbs.png);
}

.myWeek {
    background-image: url(../img/myweek.png);
}

.moonTrek {
    background-image: url(../img/moontrek-bg.png);
}


.fourohfour {
    font-family: 'Bowlby One SC', cursive;
}

.newicon {
    width: 100px;
}

/* An empty div for spacing, right now. */
.empty {
    min-height: 300px;
}