.code-bg {
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

h1.hero {
    font-size: 5.0em;
    font-family: 'Special Elite', cursive; /* Like this one! */
    color: white;
    text-align: center;
    margin-top: 0.5em;
}

h2.hero {
    margin-top: -26px;
    font-size: 2.2em;
    font-family: 'Special Elite', cursive;
    color: white;
    text-align: center;
}

img.profile {
    width: 400px;
}

img.icon {
    width: 20px;
}

/* Resume Styling */

ul.disc {
    list-style: disc;
}

.job {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.q13 {
    background-image: url(../img/q13logo.png);
}

.kjrh {
    background-image: url(../img/kjrhlogo.png);
}

.ktul {
    background-image: url(../img/ktullogo.png);
}

.fox23 {
    background-image: url(../img/fox23logo.png);
}