@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800&family=Special+Elite&display=swap');

/* Variables! */

:root {
	--main-font-style: 'Poppins', sans-serif;
	--main-font-color: #1b1717;
	--link-font-color: #810000;
	--link-font-color-hover: #630000;
	--special-elite: 'Special Elite', cursive;
	--bowlby-one: 'Bowlby One SC', cursive;
	--code-background: url('../img/background.jpg');
}

/* Universal styles here! */

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--main-font-style);
	color: var(--main-font-color);
	background-color: whitesmoke;
	display: flex;
	height: 100vh;
	margin: 0;
}

.container {
	margin: 0 auto;
	margin-bottom: 50px;
	max-width: 70rem;
	width: 90%;
}

a:link,
a:visited {
	text-decoration: none;
	color: var(--link-font-color);
	transition: all 300ms ease-out;
}

a:hover,
a:active {
	color: whitesmoke;
	text-decoration: none;
	text-shadow: var(--link-font-color-hover) 0 0 3px,
		var(--link-font-color-hover) 0 0 3px,
		var(--link-font-color-hover) 0 0 3px;
	transition: all 300ms ease-in;
}

hr {
	width: 85%;
	height: 5px;
	background-color: var(--main-font-color);
	color: var(--main-font-color);
	border-radius: 25%;
}

.bold-text {
	font-weight: 800;
}

footer {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 30px;
	color: aliceblue;
	background: var(--code-background);
}

footer h4 {
	margin: 0;
}

footer p {
	margin-top: 0;
}

/* Landing Page Styles! */
.landing {
	background-image: var(--code-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.landing h1 {
	font-family: var(--special-elite);
	font-size: 5rem;
	color: aliceblue;
	text-align: center;
	margin: 0;
}

.landing h2 {
	font-family: var(--special-elite);
	font-size: 2rem;
	color: aliceblue;
	text-align: center;
	margin: 0;
}

.landing .button-row {
	width: 50vw;
	margin: 1rem 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing .button-row .btn {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	margin: 0 2rem;
	outline: none;
	border: none;
	background-color: aliceblue;
	font-family: var(--special-elite);
	font-weight: 600;
	cursor: pointer;
}

.landing .button-row .btn:hover {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid lightblue;
	background-color: white;
}

.landing .button-row .btn:active {
	width: 140px;
	height: 40px;
	transition: all 50ms ease;
}

/* Content Styles - First Up, NAVBAR. */

@media (max-width: 480px) {
	.navbar {
		display: none;
	}
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	height: 70px;
	min-width: 100%;
	border-bottom: 2px solid var(--main-font-color);
	box-shadow: 0 3px 15px gray;
	border-radius: 0 0 25px 25px;
}

.navbar .nav-avatar {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	box-shadow: 1px 1px 10px;
	cursor: pointer;
}

.navbar .nav-menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: end;
	align-items: center;
}

.navbar .nav-menu .nav-menu-item {
	margin: 0 15px;
}

.navbar .nav-menu .nav-menu-item i {
	margin-right: 5px;
	font-family: 'FontAwesome' !important;
	font-style: normal !important;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: var(--code-background);
	background-position: center;
	background-attachment: fixed;
	min-height: 200px;
	border-radius: 15px;
}

header h1 {
	font-family: var(--special-elite);
	font-size: 3.5rem;
	color: aliceblue;
	text-align: center;
	margin: 0;
}

header h2 {
	font-family: var(--special-elite);
	font-size: 1.5rem;
	color: aliceblue;
	text-align: center;
	margin: 0;
}

main {
	margin: 15px;
}

main .profile-title {
	text-align: center;
	font-size: 3rem;
	font-weight: 800;
	margin: 0;
}

main .profile-content {
	padding: 10px 5px;
}

section .profile-picture {
	max-width: 350px;
	border-radius: 5px;
	float: left;
	margin: 15px 15px 15px 0;
}

/* Cool little bootstrap like badges and pills! */

.tech-list {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--code-background);
	background-position: center;
	min-height: 400px;
	margin: 1rem 0;
}

.technologies {
	background-color: grey;
	color: aliceblue;
	min-height: 350px;
	width: 47%;
	border-radius: 25px;
	margin: 1rem;
	padding: 0 15px;
}

.technologies .tech-list-header ul,
.technologies .tech-list-body ul {
	list-style: none;
	padding-left: 0;
}

.technologies .tech-list-header ul li,
.technologies .tech-list-body ul li {
	display: inline-block;
	font-size: 0.7rem;
	border-radius: 5px;
	padding: 2px 4px;
	font-weight: bold;
}

.technologies .tech-list-header .tech-list-header-green {
	background-color: green;
}

.technologies .tech-list-header .tech-list-header-yellow {
	color: var(--main-font-color);
	background-color: yellow;
}

.technologies .tech-list-header .tech-list-header-blue {
	background-color: blue;
}

.technologies .tech-list-body .tech-list-item {
	background-color: cornflowerblue;
}

/* Project section... */

section #projects {
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.project-card {
	width: 95%;
	box-shadow: 3px 3px 10px #1b1717;
	min-height: 1000px;
	margin: 25px auto;
	padding-bottom: 2rem;
	border-radius: 15px;
}

.project-card .project-title {
	font-family: var(--special-elite);
	text-align: center;
	padding: 25px 0;
	margin: 0;
}

.project-card .project-info {
	padding: 15px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px solid rgba(27, 23, 23, 0.2);
	border-radius: 5px;
	box-shadow: 1px 1px 15px rgba(27, 23, 23, 0.2);
}

.project-card .project-info .project-info-header {
	font-family: var(--bowlby-one);
	text-align: center;
	font-size: 2rem;
	margin: 0;
}

.project-card .project-info .project-info-subheader {
	font-family: var(--special-elite);
	text-align: center;
	font-size: 1rem;
	margin: 0;
}

.project-card .project-info .project-technologies {
	background-color: grey;
	color: aliceblue;
	border-radius: 25px;
	margin: 1rem;
	padding: 0 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.project-card .project-info .project-technologies img {
	max-width: 200px;
}
.project-card .project-info .project-tech-list-body {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-card .project-info .project-tech-list-body ul li {
	display: inline-block;
	font-size: 0.7rem;
	border-radius: 5px;
	padding: 2px 6px;
	font-weight: bold;
	background-color: cornflowerblue;
	color: aliceblue;
}

.project-card .project-info .screenshot {
	display: block;
	margin: 0 auto;
}

#krk {
	background: url('../img/employebbs.png');
	background-position: center;
	background-size: cover;
}

#moontrek {
	background: url('../img/moontrek-bg.png');
	background-position: center;
	background-size: cover;
}
#crwn {
	background: url('../img/crwn-bg.png');
	background-position: center;
	background-size: cover;
}
