@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800&family=Special+Elite&display=swap');

:root {
	--main-font-style: 'Poppins', sans-serif;
	--main-font-color: #1b1717;
	--link-font-color: #810000;
	--link-font-color-hover: #630000;
	--special-elite: 'Special Elite', cursive;
	--bowlby-one: 'Bowlby One SC', cursive;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--main-font-style);
	color: var(--main-font-color);
	background-color: whitesmoke;
	display: flex;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

/* Landing Page Styles! */
.landing {
	background-image: url('../img/background.jpg');
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.landing h1 {
	font-family: var(--special-elite);
	font-size: 5rem;
	color: aliceblue;
	text-align: center;
	margin: 0;
}

.landing h2 {
	font-family: var(--special-elite);
	font-size: 2rem;
	color: aliceblue;
	text-align: center;
	margin: 0;
}

.landing .button-row {
	width: 50vw;
	margin: 1rem 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing .button-row .btn {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	margin: 0 2rem;
	outline: none;
	border: none;
	background-color: aliceblue;
	font-family: var(--special-elite);
	font-weight: 600;
	cursor: pointer;
}

.landing .button-row .btn:hover {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid lightblue;
	background-color: white;
}

.landing .button-row .btn:active {
	width: 140px;
	height: 40px;
	transition: all 50ms ease;
}

/* Content Styles - First Up, NAVBAR. */
