footer {
	background-image: url('../img/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	margin: 0;
	text-transform: uppercase;
	box-shadow: 0.5px 0.5px 15px #1b1717;

	a {
		color: $linkColor;
		text-decoration: none;

		&:hover {
			color: $linkHover;
			text-decoration: dotted;
		}
	}
}
