#ebbs {
	background-image: url(../img/employebbs.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#myweek {
	background-image: url(../img/myweek.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#moonTrek {
	background-image: url(../img/moontrek-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#funkdafied {
	background-image: url(../img/funkdafied-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
