.q13 {
	background-image: url(../img/q13logo.png);
}

.kjrh {
	background-image: url(../img/kjrhlogo.png);
}

.ktul {
	background-image: url(../img/ktullogo.png);
}

.fox23 {
	background-image: url(../img/fox23logo.png);
}
