header {
	margin-left: -15px;
	margin-right: -15px;
}

.resume-section-head {
	padding: 0.6em;
	border-radius: 15px;
	background-image: linear-gradient(to right, $linkHover, whitesmoke);
	font-family: map-get($fonts, BowlbyOne);
	color: aliceblue;
	text-shadow: 1px 1px 1px lightslategray;
	box-shadow: 0.5px 0.5px 15px #1b1717;
}

.resume-icons {
	color: $linkColor;
}

#summary,
#skills,
#exp,
#contact {
	margin-bottom: 0.5em;
}

.job {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

.q13 {
	background-image: url(../img/q13logo.png);
}

.kjrh {
	background-image: url(../img/kjrhlogo.png);
}

.ktul {
	background-image: url(../img/ktullogo.png);
}

.fox23 {
	background-image: url(../img/fox23logo.png);
}
