@import 'var', 'header', 'footer', 'projbg', 'navbar', 'resume';

html,
body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: $fontColor;
	background-color: whitesmoke;
}

section {
	background-color: whitesmoke;
	margin-bottom: 3rem;

	a {
		color: $linkColor !important;
		font-weight: bold;
		text-decoration: none;
		&:hover {
			color: $linkHover !important;
			font-weight: bold;
			text-decoration: underline;
		}
		&:visited {
			color: $linkColor !important;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

.profpic {
	max-width: 500px;
}

#cards {
	background-image: url('../img/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 3em;
	box-shadow: 0.5px 0.5px 15px #1b1717;
	overflow: hidden;
	.card {
		max-width: 33rem;
	}
}

h2.project {
	font-family: map-get($fonts, SpecialElite);
	color: $fontColor;
	font-weight: bold;
	text-shadow: 1px 1px 1px lightslategray;
	margin-left: 1rem;
}

h4.project-subtitle {
	font-family: map-get($fonts, BowlbyOne);
	color: $fontColor;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px lightslategray;
}

img.newicon {
	max-width: 150px;
}

// Styling for the 404 Page.

.code-bg {
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	color: whitesmoke;
}

h1.hero {
	font-size: 5em;
	font-family: 'Special Elite', cursive; /* Like this one! */
	color: white;
	text-align: center;
	margin-top: 0.5em;
}

h2.hero {
	margin-top: -26px;
	font-size: 2.2em;
	font-family: 'Special Elite', cursive;
	color: white;
	text-align: center;
}

.fourohfour {
	font-family: 'Bowlby One SC', cursive;
}
